# Copy this file to .secrets and fill in your actual values
# This file (.secrets) is gitignored and will never be committed

# GitHub Token
export GITHUB_TOKEN=""
export PKG_TOKEN=""

# AWS
export AWS_PROFILE=""

# Add any other secrets here
